body{
	margin:0;
}

.slider { 
	width:auto; 
	position:relative;
}
.slider-content {
	width:640px;
	height:360px;
	overflow: hidden;
	position:relative;
	width:672px;
	padding-left:8px;
	padding-top:8px;
	padding-bottom:8px;
}
.slide {
	width:100%;
	height:100%;
}
.slider-controls {
	position:absolute;
	left:50px;
	bottom:28px;
	text-align:center;
	height: 30px;
}
.slider-controls .control-slide {
	margin:2px;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(radioBg.png) center bottom no-repeat;
}
.slider-controls .control-slide:hover {
	cursor:pointer;
	background-position:center center;
}
.slider-controls .control-slide.active {
	background-position:center top;
}
.prew, .next {
	width:15px;
	position:absolute;
	top:320px;
	overflow:hidden;
	text-indent:-999px;
	background:url(arrowBg.png) left center no-repeat;
	opacity:0.8;
	z-index:3;
}
.prew {
	left:30px;
}
.next {
	right:530px;
	margin-left:15px;
	background:url(arrowBg.png) right center no-repeat;
}
.prew:hover, .next:hover {
	opacity:1;
}
.slider-content:hover .prew, .slider-content:hover .next {
	display:block;
}

a{
	margin-left:0px;
	color:white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-decoration: none;
}

h4{
	margin-left:30px;
	margin-top:200px;
	color:white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
p{
	margin-left:0px;
	color:white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}